@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Oswald:wght@500;600&display=swap');
*{
    margin: 0%;
    padding: 0%;
    

}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.fundo{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: hidden; 
   
}

.titulo{
    font-size: 3.5rem;
    font-family: "Mulish", serif;
    color: rgb( 30, 103, 238);
    position: absolute;
    top: 2%;
    left: 5rem;
    text-shadow: .2rem, .2rem rgba(0,0,0,.4);

}

.bloco{
    position: absolute;
    top: 15%;
    left: 5rem;
    font-size: 1rem;
    font-family: "Mulish", serif;
    color: rgb(30, 103, 238);
}
.parede1{
    margin-bottom: 1rem;
}

.parede2{
    margin-bottom: 1rem;
}

.parede3{
    margin-bottom: 1rem;
}

.parede4{
    margin-bottom: 1rem;
}

#calcular{
    font-family: "Mulish", serif;
    color: aliceblue;
    text-transform: uppercase;
    background: #3a7bd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 3rem;
    border: none;
    border-radius: 7px;
    
    position: absolute;
    left: 10rem;
    
}

.result{
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 300px;
    height: 75px;
    border-radius: 5%;
    font: serif;
    background: white;
    color:rgb( 30, 103, 238);
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
    position: relative;
    margin-top: 7rem;
    left: 5.5rem;


}



